.header__locale {
  display: flex;
  min-width: 77px;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 6px;
}

@media screen and (max-width: 767px) {
  .header__locale {
    margin-bottom: 8px;
    min-width: 62px;
  }
}
