.footer__links {
  margin: 0;
  display: flex;
  width: 465px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    height: 248px;
    width: 160px;
  }
}
